* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #b8ff2e, #2ea8ff);
  background-attachment: fixed;
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0px;
}

.container .card {
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container .card .imageBox {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
}

.container .card:hover .imageBox {
  height: 150px;
  width: 150px;
  left: -75px;
  top: calc(50% - 75px);
}

.container .card .imageBox img {
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imageBox img {
  max-width: 75px;
}

.container .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card .content h3 {
  color: #ff0057;
  margin-bottom: 5px;
  font-size: 24px;
}

.container .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  background: #0095ff;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
